
.img-item{
    position: relative;
    top:-10px;
    left:-14px;
    padding-left: 39px;
}
.img-item span{
    position: absolute;
    top: -18px;
    left: 133px;
    display: inline !important;
}
.img-item img{
    position: absolute;
    top: -3px;
    left: 107px;
}
.b-box{
    position: relative;
}
.b-box label{
    position: absolute;
    left: 0px;
    top: 2px;
}
.b-box #upload, #uploada, #uploadb, #uploadc, #uploadd{
    position: absolute;
    top: 0px;
    left: 150px;
}
.b-box .img-input{
    position: absolute;
    top: 0px;
    left: 149px;
}

.b-box .img-input input{
    width: 69px;
    height: 33px;
    padding: 0;
    z-index: 5;
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    filter:alpha(opacity=0);
}
@media (max-width: 800px) {
    .b-box #upload, #uploada, #uploadb, #uploadc, #uploadd{
        width: 19%;
        position: absolute;
        top: 8%;
        left: 76%;
        text-align: center;
        line-height: 260%;
        color: white;
    }
    .b-box .img-input{
        width: 19%;
        height: 88%;
        position: absolute;
        top: 9%;
        left: 80%;
    }
    .b-box .img-input input{
        width:100%;
        height: 100%;
        padding: 0;
        z-index: 5;
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
        filter:alpha(opacity=0);
    }
    .img-item span {
        position: absolute;
        top: -21px;
        left: 139px;
    }
}