@media (min-width: 801px) {
    body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input, textarea, p, blockquote, th, td, address {
        margin: 0;
        padding: 0;
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
        font-style: normal;
        font-weight: normal;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        outline: none;
    }
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
     .body-login {
        background: url(images/login-bg.png) no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
    }
     #divcss5{
         margin:0 auto;
     }
     h1{
         color: yellow;
     }
}