#real{
    /*点击弹出模态框的图片*/
    margin: 30px;
    width: 250px;
    border-radius:6px;
   }
   #real:hover{
    opacity: 0.6;
   }
   #mo{
    display: none;/*隐藏*/
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    top: 100px;
    left: 0px;
    z-index: 10;
   }
   #moimg{
    display: block;
    margin:25px auto;
    width: 80%;
    max-width: 750px;
   }
   #caption{
    text-align: center;
    margin: 15px auto;
    width: 60%;
    max-height: 750px;
    font-size: 20px;
    color:#ccc;
   }
   #moimg,#caption{
    -webkit-animation: first 1s;
    -o-animation: first 1s;
    animation: first 1s;
   }
   @keyframes first{
    from{transform: scale(0.1);}
    to{transform: scale(1);}
   }
   .close{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 6px;
    right: 4%;
    color:#f1f1f1;
   }
   .close:hover,
   .close:focus{
    color:#bbb;
    cursor:pointer;
   }
   @media only screen and(max-width:750px ) {
    #moimg{
     width: 100%;
    }
   }



   

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.ff{
    float: left;
}

.btn {
    border-radius: 0px;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    font-family: '微软雅黑'
}
.btn-primary {
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(top,#4d90fe 0,#4787ed 100%);
    background-image: -o-linear-gradient(top,#4d90fe 0,#4787ed 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: linear-gradient(to bottom,#4d90fe 0,#4787ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff4787ed', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border: 1px solid #3079ed;
}
@media (max-width: 800px) {
    .btn-primary {
        color: white;
        background: #018ADA!important;
        text-shadow: 0 1px rgba(0,0,0,.1);
        background-image: -webkit-linear-gradient(top,#4d90fe 0,#4787ed 100%);
        background-image: -o-linear-gradient(top,#4d90fe 0,#4787ed 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
        background-image: linear-gradient(to bottom,#4d90fe 0,#4787ed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff4787ed', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background-repeat: repeat-x;
        border: 1px solid #fff;
    }
}
.btn-success {
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(top,#35aa47 0,#35aa47 100%);
    background-image: -o-linear-gradient(top,#35aa47 0,#35aa47 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#35aa47),to(#35aa47));
    background-image: linear-gradient(to bottom,#35aa47 0,#35aa47 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff35aa47', endColorstr='#ff35aa47', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border: 1px solid #359947;
}
.gallery .img-item{
    width: 50px;
    height: 50px;
    position: relative;
    top: -70px;
    left: 50px;
}
.gallery .img-item .delete{
    position: absolute;
    display: block;
    width: 10px;
    height:10px;
    color: #fff;
    background: rgba(0,0,0,0.7);
    line-height: 9px;
    text-align: center;
    border-radius: 50%;
    top: 25px;
    right: -22px;
    cursor: pointer;
}
.img{
    width: 35px;
    margin: 35px;
}
#formdata{
    position: absolute;
    top: 0px;
    left: 150px;
}
#formdataa{
    position: absolute;
    top: 0px;
    left: 150px;
}
#formdatab{
    position: absolute;
    top: 0px;
    left: 150px;
}
#formdatac{
    position: absolute;
    top: 0px;
    left: 150px;
}
#formdatad{
    position: absolute;
    top: 0px;
    left: 150px;
}


