*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    width: 100%;
    height: 100%;
    background: url("bg.png");
}
.box{
    width: 460px;
    height: 365px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background:rgba(255,255,255,1);
    border-radius:5px;
    opacity:0.8;
}
h2{
    width:460px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background:#1b60a6;
    color: white;
}
ul{
    width: 460px;
    height: 235px;
    margin-top: 30px;
}
li{
    width: 460px;
    margin-top: 5px;
}
li:first-child{
    height: 50px;
}
.left{
    width: 85px;
    height: 40px;
    float: left;
    line-height: 40px;
    margin-left: 25px;
    text-align: justify;
    text-align-last: justify;
}
.center{
    width: 320px;
    height: 40px;
    float: left;
}
.center>input{
    width:95%;
    height: 30px;
    margin-top: 3px;
}
.right{
    width: 355px;
    height: 20px;
    float: left;
    margin-left: 110px;
}
li:first-child+li{
    height: 50px;
}
li:first-child+li+li{
    height: 50px;
}
li:first-child+li+li+li{
    height: 50px;
}
p{
    width: 460px;
    height: 45px;
}
p>input{
    width: 100px;
    height: 35px;
    background:linear-gradient(305deg,rgba(0,126,229,1) 0%,rgba(5,179,255,1) 100%,rgba(85,51,255,1) 100%);
    border-radius:3px;
    border:1px solid rgba(32,53,128,0.16);
    color: white;
    margin-left: 180px;
}